* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

header {
    background-color: #d9feff;
    border-radius: 0 0 30px 30px;
    height: 25vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.5);
    z-index: 50;
}

#help {
    position: absolute;
    right: 20px;
    top: 20px;
}

#slots {
    width: 180px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.slot {
    width: 24px;
    height: 24px;
    border: 3px solid #19767a;
    border-radius: 50%;
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.assistance {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.assistance button {
    height: 60px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.5);
}

.rectangular-button {
    width: 150px;
    background-color: white;
}

.square-button {
    width: 60px;
    background-color: #EB3148;
}

button svg {
    fill: #8d8d8d;
    height: 40px;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

main {
    height: 100%;
    background-color: #EB3148;
}

.gradient {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 5;
    background: rgba(143, 143, 143, 0.8);
    mix-blend-mode: screen;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh; /* Adjust as needed */
}

.reel-container {
    position: relative;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
}

.reel {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    left: 50%;
    transition: top 0.3s ease;
}

.reel img {
    height: 250px;
    width: auto;
}

.upanddown {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    height: 560px;
    justify-content: space-between;
    z-index: 10;
}

.upanddown button {
    background: none;
    border: none;
}

.upanddown button svg {
    height: 120px;
}

#shadow {
    transform: translateY(6px);
    mix-blend-mode: multiply;
}

.highlight {
    width: 300px;
    height: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    border-radius: 50%;
    background: #8f8f8f;
    mix-blend-mode: color-burn;
    z-index: 8;
}

.shadow {
    width: 300px;
    height: 300px;
    position: absolute;
    transform: translate(-50%, -48%);
    top: 60%;
    left: 50%;
    border-radius: 50%;
    border: 10px solid #868686;
    mix-blend-mode: multiply;
    z-index: 9;
}

#choicecircle {
    width: 300px;
    height: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    border-radius: 50%;
    border: 10px solid white;
    /*box-shadow: 0 6px 2px 0 rgba(0, 0, 0, 0.5);*/
    mix-blend-mode: hard-light;
    z-index: 99;
}

#success {
    width: 100%;
    height: 70%;
    background: #2EC998;
    position: absolute;
    z-index: 100;
    display: none; /* Initially hidden */
}
